<%- include('includes/head.ejs')%>

</head>
<body>
    <%- include('includes/nav.ejs')%>
    <form action="/adding-users" method="POST"><input type="text" name="username"><button class="btn" type="submit">Add user</button></form>

<%- include('includes/end.ejs')%>