<%- include('includes/head.ejs') %>

</head>
<body>
    <h1 class="userList">List of users:</h1>
    <ul>
        <% for (let item of nick) { %>
            <li> <%=item.username%> </li>
        <% } %>
    </ul>

<%- include('includes/end.ejs') %>