<%- include('includes/head.ejs') %>

</head>
<body>
    <%- include('includes/nav.ejs')%>
    <h1 class="userList">List of users:</h1>
    <ul class="user-list">
        <% for (let item of nick) { %>
            <li class="user-list__item"> <%=item.username%> </li>
        <% } %>
    </ul>

<%- include('includes/end.ejs') %>